<template name="home">
<div class="jumbotron">
  <div class="container">
    <h1>Gaslight Out</h1>
    <p><strong>Gaslighting</strong> or gas-lighting is a form of mental abuse in which information is twisted or spun, selectively omitted to favor the abuser, or false information is presented with the intent of making victims doubt their own memory, perception, and sanity.</p>
    <p>Correct the lie anonymously; see all your own corrections privately whenever you want.</p>
    <p><a href="/sign-in" class="btn btn-primary btn-lg">Join Now</a></p>
  </div>
</div>
</template>
